@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.topo {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    left: 0px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
}

.topo img{
    height: 53px;
    width: 75px;
    margin-left: 22px;
}

.topo ion-icon{
    height: 45px;
    width: 45px;
    margin-right: 22px;
}

.conteudo {
    width: 100%;
    margin-top: 105px;
    
}

.chat {
    height: 500px;
    width: 100%;
    margin-top: 26px;
    
}

.mensagem {
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    border-radius: 2px;
    padding: 0 8px;
}

span {
    font-size: 14px;
    font-weight: 700;
}

.barra-inferior {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0px;
    left: 0px;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
}

input{
    height: 30px;
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    margin-left: 18px;
    color: #000000;

}

.barra-inferior ion-icon{
    height: 26px;
    width: 26px;
    margin-right: 18px;
}


/* backgrounds - msg */
.entrou-saiu{
    background-color: #DCDCDC;
}

.pessoa-todos {
    background-color: #FFFFFF;
}

.reservadamente {
    background-color: #FFDEDE;
}
